---
title: "Home"
layout: page
---


<article>
  <p align="center">Welcome! I am a mining engineer and a creative coder with an interest in machine learning and artificial life.</p>
  <p align="center">Lately I've been learning GPU programming and experimenting with decoding tiny neural networks. </p>
</article>    


<!---
  <p align="center">
      <img src= "assets/images/logo.png" width="200" height="200" align="middle"/>
  </p>
--->
    

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
