---
title: "Home"
layout: page
---

<!---
<article>
  <p align="center">Hello! Welcome to my personal blog and portfolio.</p>
  <p align="center">I am a mining engineer and a creative coder with an interest in machine learning and artificial life.</p>
  <p align="center">In my free time I've been learning GPU programming and experimenting with encoding small programs in networks. </p>
</article>    
--->

Welcome!

I am a mining engineer and a creative coder with an interest in machine learning and artificial life.

In my free time I've been learning GPU programming and experimenting with encoding small programs in networks. We'll see where it goes!

<!---
  <p align="center">
      <img src= "assets/images/lablogo.png" width="200" height="200" align="middle"/>
  </p>
--->
    



{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
